---
export const pageTitle = "Project 2";
---
<html>
<script>
  const pokemonNames = ["bulbasaur", "charmander", "squirtle", "chikorita", "totodile", "cyndaquil"]
  function hideAll(){
    pokemonNames.forEach(function(pokemon){
        const myImage = document.getElementById(pokemon + "-image");
         if (myImage){
          myImage.style.display = "none";
        }
       })
  }
  pokemonNames.forEach(function(pokemon){
     const button = document.getElementById(pokemon);
        const myImage = document.getElementById(pokemon + "-image");
        button.addEventListener("click", () => {
          hideAll();
            myImage.style.display = "block";
        });
  })
</script>
<body>
  <div class="selected">
    <div id="bulbasaur-image" style="display: none;">
      <div class="panel-container">
        <img src="/images/renders/500px-0001Bulbasaur.png">
        <div class="panel">
            <h2>Bulbasaur</h2>
            <p>Type: Grass/Poison</p>
            <p>Region: Kanto</p>
            <p>Height: 2'04" / 0.7m</p>
            <p>Weight: 15.2 lbs. / 6.9kg</p>
            <p>"A strange seed was planted on its back at birth. The plant sprouts and grows with this Pokemon."</p>
            <a href="https://bulbapedia.bulbagarden.net/wiki/Bulbasaur_(Pok%C3%A9mon)">More Info</a>
        </div>
     </div>
  </div>
  
  <div id="charmander-image" style="display: none;">
      <div class="panel-container">
        <img src="/images/renders/500px-0004Charmander.png">
        <div class="panel">
            <h2>Charmander</h2>
            <p>Type: Fire</p>
            <p>Region: Kanto</p>
            <p>Height: 2'00" / 0.6m</p>
            <p>Weight: 18.7 lbs. / 8.5kg</p>
            <p>"Obviously prefers hot places. When it rains, steam is said to spout from the tip of its tail."</p>
            <a href="https://bulbapedia.bulbagarden.net/wiki/Charmander_(Pok%C3%A9mon)">More Info</a>
        </div>
      </div>
    </div>

    <div id="squirtle-image" style="display: none;">
      <div class="panel-container">
        <img src="/images/renders/500px-0007Squirtle.png">
        <div class="panel">
            <h2>Squirtle</h2>
            <p>Type: Water</p>
            <p>Region: Kanto</p>
            <p>Height: 1'08" / 0.5m</p>
            <p>Weight: 19.8 lbs. / 9.0kg</p>
            <p>"After birth, its back swells and hardens into a shell. Powerfully sprays foam from its mouth."</p>
            <a href="https://bulbapedia.bulbagarden.net/wiki/Squirtle_(Pok%C3%A9mon)">More Info</a>
        </div>
      </div>
    </div>

    <div id="chikorita-image" style="display: none;">
      <div class="panel-container">
        <img src="/images/renders/500px-0152Chikorita.png">
        <div class="panel">
            <h2>Squirtle</h2>
            <p>Type: Water</p>
            <p>Region: Kanto</p>
            <p>Height: 1'08" / 0.5m</p>
            <p>Weight: 19.8 lbs. / 9.0kg</p>
            <p>"After birth, its back swells and hardens into a shell. Powerfully sprays foam from its mouth."</p>
            <a href="https://bulbapedia.bulbagarden.net/wiki/Squirtle_(Pok%C3%A9mon)">More Info</a>
        </div>
      </div>
    </div>

    <div id="cyndaquil-image" style="display: none;">
      <div class="panel-container">
        <img src="/images/renders/500px-0155Cyndaquil.png">
        <div class="panel">
            <h2>Squirtle</h2>
            <p>Type: Water</p>
            <p>Region: Kanto</p>
            <p>Height: 1'08" / 0.5m</p>
            <p>Weight: 19.8 lbs. / 9.0kg</p>
            <p>"After birth, its back swells and hardens into a shell. Powerfully sprays foam from its mouth."</p>
            <a href="https://bulbapedia.bulbagarden.net/wiki/Squirtle_(Pok%C3%A9mon)">More Info</a>
        </div>
      </div>
    </div>

    <div id="totodile-image" style="display: none;">
      <div class="panel-container">
        <img src="/images/renders/0158Totodile.png">
        <div class="panel">
            <h2>Squirtle</h2>
            <p>Type: Water</p>
            <p>Region: Kanto</p>
            <p>Height: 1'08" / 0.5m</p>
            <p>Weight: 19.8 lbs. / 9.0kg</p>
            <p>"After birth, its back swells and hardens into a shell. Powerfully sprays foam from its mouth."</p>
            <a href="https://bulbapedia.bulbagarden.net/wiki/Squirtle_(Pok%C3%A9mon)">More Info</a>
        </div>
      </div>
    </div>
</div>
<div class="pokemon">
  <section class="roster">
  <button class="hexagon" id="bulbasaur"></button>
  <button class="hexagon" id="charmander"></button>
  <button class="hexagon" id="squirtle"></button>
  </section>
  
  <section class="roster-2">
  <button class="hexagon" id="chikorita"></button>
  <button class="hexagon" id="cyndaquil"></button>
  <button class="hexagon" id="totodile"></button>
  </section>
  
  <section class="roster-3">
  <button class="hexagon" id="treeko"></button>
  <button class="hexagon" id="torchic"></button>
  <button class="hexagon" id="mudkip"></button>
  </section>
  
  <section class="roster-4">
  <button class="hexagon" id="turtwig"></button>
  <button class="hexagon" id="chimchar"></button>
  <button class="hexagon" id="piplup"></button> 
  </section>
   
  <section class="roster-5">
  <button class="hexagon" id="snivy"></button>
  <button class="hexagon" id="tepig"></button>
  <button class="hexagon" id="oshawott"></button>
  </section>
  
  <section class="roster-6">
  <button class="hexagon" id="chespin"></button>
  <button class="hexagon" id="fennekin"></button>
  <button class="hexagon" id="froakie"></button>
  </section>

  <section class="roster-7">
  <button class="hexagon" id="rowlet"></button>
  <button class="hexagon" id="litten"></button>
  <button class="hexagon" id="popplio"></button>
  </section>

  <section class="roster-8">
  <button class="hexagon" id="grookey"></button>
  <button class="hexagon" id="scorbunny"></button>
  <button class="hexagon" id="sobble"></button>
  </section>

  <section class="roster-9">
  <button class="hexagon" id="sprigatito"></button>
  <button class="hexagon" id="fuecoco"></button>
  <button class="hexagon" id="quaxly"></button>
  </section>
</div>
</body>
    
</html>

<style>
html{
  /* max-width: fit-content; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
body{
    background-color: rgb(230, 228, 228);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selected{
  border: solid 7px black;
  border-radius: 2rem;
  width: 900px;
  height: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: lightgray;
  margin-top: 20px;
}
.panel{
  padding: 1rem;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  margin-right: 1rem;
}
.panel > h2{
text-align: center;
margin-top: 0;
}
.panel > p{
  margin: 10px 0px;
}
.panel > a{
padding: 10px 0px;
text-decoration: none;
}
.panel-container{
  display: flex;
  align-items: center;
}
.panel-container > img{
  height: 400px;
  width: 400px;
  padding: 1rem;
}


.pokemon{
  /* height: 1700px; */
  margin:0 auto;
}
.pokemon > *{
  margin-bottom:-180px;
  display: flex;
}
.pokemon > *:nth-child(even){
  padding-left: 105px;
}
/* .roster{
  display: flex;
  position: absolute;
}
.roster-2{
  display: flex;
  position: relative;
  left: 105px;
  top: 170px;
  width: fit-content;
}
.roster-3{
  display: flex;
  position: absolute;
  width: fit-content;
}
.roster-4{
  display: flex;
  position: relative;
  left: 105px;
  top: 170px;
  width: fit-content;
}
.roster-5{
  display: flex;
  position: absolute;
  width: fit-content;
}
.roster-6{
  display: flex;
  position: relative;
  left: 105px;
  top: 170px;
  width: fit-content;
}
.roster-7{
  display: flex;
  position: absolute;
  width: fit-content;
}
.roster-8{
  display: flex;
  position: relative;
  left: 105px;
  top: 170px;
  width: fit-content;
}
.roster-9{
  display: flex;
  position: absolute;
  width: fit-content;
} */

.hexagon{
  width: 200px;
  height: 200px;
  background-color: black;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  margin: 70px 5px 70px 5px;
  transition: all .2s;
}
.hexagon:hover{
  background-color: gray;
}

#bulbasaur{
  background-image: url("/images/sprites/1.png");
  background-size: 100%;
}
#charmander{
  background-image: url("/images/sprites/4.png");
  background-size: 100%;
}
#squirtle{
  background-image: url("/images/sprites/7.png");
  background-size: 100%;
}
#chikorita{
  background-image: url("/images/sprites/152.png");
  background-size: 100%;
}
#cyndaquil{
  background-image: url("/images/sprites/155.png");
  background-size: 100%;
}
#totodile{
  background-image: url("/images/sprites/158.png");
  background-size: 100%;
}
#treeko{
  background-image: url("/images/sprites/252.png");
  background-size: 100%;
}
#torchic{
  background-image: url("/images/sprites/255.png");
  background-size: 100%;
}
#mudkip{
  background-image: url("/images/sprites/258.png");
  background-size: 100%;
}
#turtwig{
  background-image: url("/images/sprites/387.png");
  background-size: 100%;
}
#chimchar{
  background-image: url("/images/sprites/390.png");
  background-size: 100%;
}
#piplup{
  background-image: url("/images/sprites/393.png");
  background-size: 100%;
}
#snivy{
  background-image: url("/images/sprites/495.png");
  background-size: 100%;
}
#tepig{
  background-image: url("/images/sprites/498.png");
  background-size: 100%;
}
#oshawott{
  background-image: url("/images/sprites/501.png");
  background-size: 100%;
}
#chespin{
  background-image: url("/images/sprites/650.png");
  background-size: 100%;
}
#fennekin{
  background-image: url("/images/sprites/653.png");
  background-size: 100%;
}
#froakie{
  background-image: url("/images/sprites/656.png");
  background-size: 100%;
}
#rowlet{
  background-image: url("/images/sprites/722.png");
  background-size: 100%;
}
#litten{
  background-image: url("/images/sprites/725.png");
  background-size: 100%;
}
#popplio{
  background-image: url("/images/sprites/728.png");
  background-size: 100%;
}
#grookey{
  background-image: url("/images/sprites/810.png");
  background-size: 100%;
}
#scorbunny{
  background-image: url("/images/sprites/813.png");
  background-size: 100%;
}
#sobble{
  background-image: url("/images/sprites/816.png");
  background-size: 100%;
}
#sprigatito{
  background-image: url("/images/sprites/906.png");
  background-size: 100%;
}
#fuecoco{
  background-image: url("/images/sprites/909.png");
  background-size: 100%;
}
#quaxly{
  background-image: url("/images/sprites/912.png");
  background-size: 100%;
}
</style>